In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/henryasiamah/Desktop/work/other_dataset.csv")
df.head()

,Publication Date,Website Name,Content
0,2024-06-07,www.bbc.com,How many people cross the Channel in small boa...
1,2024-06-07,www.bbc.com,Far right eyes Europe vote surge and ditches G...
2,2024-06-07,www.bbc.com,Greek court throws out shipwreck trial against...
3,2024-06-07,www.bbc.com,Migrants cross Channel for 10th consecutive da...
4,2024-06-07,www.bbc.com,More than 700 people arrive by small boats in ...

In [3]:
df.shape

(2488, 3)

In [4]:
df['Website Name'].value_counts()

www.telegraph.co.uk             462
www.dutchnews.nl                319
www.thelocal.de                 235
www.thelocal.it                 234
www.thelocal.fr                 230
www.ansa.it                     191
www.thelocal.es                 170
www.infomigrants.net            146
www.euronews.com                142
www.dw.com                       84
www.bbc.com                      74
www.france24.com                 59
nltimes.nl                       56
www.lemonde.fr                   14
www.thenewhumanitarian.org       11
www.politico.eu                  10
immigrationlab.org                6
www.theguardian.com               6
freemovement.org.uk               6
www.aljazeera.com                 4
apnews.com                        4
home-affairs.ec.europa.eu         3
www.irishtimes.com                3
www.chathamhouse.org              3
theconversation.com               2
www.auswaertiges-amt.de           2
eumigrationlawblog.eu             1
www.iemed.org                     1
www.voanews.com                   1
www.hrw.org                       1
www.unicef.org                    1
www.migrationpolicy.org           1
syacd.org                         1
edition.cnn.com                   1
www.context.news                  1
worldmigrationreport.iom.int      1
news.un.org                       1
ecre.org                          1
Name: Website Name, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2488 entries, 0 to 2487
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Publication Date  2488 non-null   object
 1   Website Name      2488 non-null   object
 2   Content           2460 non-null   object
dtypes: object(3)
memory usage: 58.4+ KB

In [6]:
"""A fucntion to convert the Website Name column which
    contains the News Paper Source but in urls to the 
    News Paper Source name. eg. www.telegraph.co.uk becomes  The Telegrah UK
"""

def source(value):
    if value == "www.telegraph.co.uk":
        return "The Telegraph"
    elif value == "www.dutchnews.nl":
        return "Dutch News"
    elif value == "www.thelocal.de":
        return "The Local (Germany)"
    elif value == "www.thelocal.it":
        return "The Local (Italy)"
    elif value == "www.thelocal.fr":
        return "The Local (France)"
    elif value == "www.ansa.it":
        return "ANSA"
    elif value == "www.thelocal.es":
        return "The Local (Spain)"
    elif value == "www.infomigrants.net":
        return "InfoMigrants"
    elif value == "www.euronews.com":
        return "Euronews"
    elif value == "www.dw.com":
        return "Deutsche Welle (DW)"
    elif value == "www.bbc.com":
        return "BBC"
    elif value == "www.france24.com":
        return "France 24"
    elif value == "nltimes.nl":
        return "NL Times"
    elif value == "www.lemonde.fr":
        return "Le Monde"
    elif value == "www.thenewhumanitarian.org":
        return "The New Humanitarian"
    elif value == "www.politico.eu":
        return "Politico Europe"
    elif value == "immigrationlab.org":
        return "Immigration Policy Lab"
    elif value == "www.theguardian.com":
        return "The Guardian"
    elif value == "freemovement.org.uk":
        return "Free Movement"
    elif value == "www.aljazeera.com":
        return "Euronews"
    elif value == "apnews.com":
        return "Euronews"
    elif value == "home-affairs.ec.europa.eu":
        return "European Commission Home Affairs"
    elif value == "www.irishtimes.com":
        return "The Irish Times"
    elif value == "www.chathamhouse.org":
        return "Chatham House"
    elif value == "theconversation.com":
        return "Euronews"
    elif value == "www.auswaertiges-amt.de":
        return "German Federal Foreign Office"
    elif value == "eumigrationlawblog.eu":
        return "EU Migration Law Blog"
    elif value == "www.iemed.org":
        return "IEMed"
    elif value == "www.voanews.com":
        return "Immigration Policy Lab"
    elif value == "www.hrw.org":
        return "Immigration Policy Lab"
    elif value == "www.unicef.org":
        return "UNICEF"
    elif value == "www.migrationpolicy.org":
        return "Immigration Policy Lab"
    elif value == "syacd.org":
        return "Immigration Policy Lab"
    elif value == "edition.cnn.com":
        return "Immigration Policy Lab"
    elif value == "www.context.news":
        return "Context News-TRF"
    elif value == "worldmigrationreport.iom.int":
        return "IOM"
    elif value == "news.un.org":
        return "United Nations News"
    elif value == "ecre.org":
        return "ECRE"
    else:
        return "Unknown Source"

In [7]:
df["News Paper Source"] = df["Website Name"].apply(source)
df.head()

,Publication Date,Website Name,Content,News Paper Source
0,2024-06-07,www.bbc.com,How many people cross the Channel in small boa...,BBC
1,2024-06-07,www.bbc.com,Far right eyes Europe vote surge and ditches G...,BBC
2,2024-06-07,www.bbc.com,Greek court throws out shipwreck trial against...,BBC
3,2024-06-07,www.bbc.com,Migrants cross Channel for 10th consecutive da...,BBC
4,2024-06-07,www.bbc.com,More than 700 people arrive by small boats in ...,BBC

In [8]:
df.tail()

,Publication Date,Website Name,Content,News Paper Source
2483,2024-10-08,www.thelocal.fr,With France facing presidential elections next...,The Local (France)
2484,2024-10-08,www.thelocal.fr,The stabbing happened at about 11am local time...,The Local (France)
2485,2024-10-08,www.thelocal.fr,The UK government announced its planned new im...,The Local (France)
2486,2024-10-08,www.thelocal.fr,Prime Minister Edouard Philippe presented the ...,The Local (France)
2487,2024-06-07,www.euronews.com,After a sudden influx of migrants overwhelmed ...,Euronews

In [9]:
df["News Paper Source"].value_counts()

The Telegraph                       462
Dutch News                          319
The Local (Germany)                 235
The Local (Italy)                   234
The Local (France)                  230
ANSA                                191
The Local (Spain)                   170
Euronews                            152
InfoMigrants                        146
Deutsche Welle (DW)                  84
BBC                                  74
France 24                            59
NL Times                             56
Le Monde                             14
The New Humanitarian                 11
Immigration Policy Lab               11
Politico Europe                      10
The Guardian                          6
Free Movement                         6
The Irish Times                       3
Chatham House                         3
European Commission Home Affairs      3
German Federal Foreign Office         2
IOM                                   1
EU Migration Law Blog                 1
IEMed                                 1
UNICEF                                1
Context News-TRF                      1
ECRE                                  1
United Nations News                   1
Name: News Paper Source, dtype: int64

In [10]:
"""A fucntion showing the country or location newspaper source is from
"""

def news_source_country(value):
    if value == "The Telegraph":
        return "UK"
    elif value == "Dutch News":
        return "Netherlands"
    elif value == "The Local (Germany)":
        return "Germany"
    elif value == "The Local (Italy)":
        return "Italy"
    elif value == "The Local (France)":
        return "France"
    elif value == "ANSA":
        return "Italy"
    elif value == "The Local (Spain)":
        return "Spain"
    elif value == "Euronews":
        return "France"
    elif value == "InfoMigrants":
        return "Germany"
    elif value == "Deutsche Welle (DW)":
        return "Germany"
    elif value == "BBC":
        return "UK"
    elif value == "France 24":
        return "France"
    elif value == "NL Times":
        return "Netherlands"
    elif value == "Le Monde":
        return "France"
    elif value == "The New Humanitarian":
        return "Switzerland"
    elif value == "Immigration Policy Lab":
        return "Switzerland"
    elif value == "Politico Europe":
        return "Belgium"
    elif value == "The Guardian":
        return "UK"
    elif value == "Free Movement":
        return "UK"
    elif value == "The Irish Times":
        return "Ireland"
    elif value == "Chatham House":
        return "UK"
    elif value == "European Commission Home Affairs":
        return "European Union"
    elif value == "German Federal Foreign Office":
        return "Germany"
    elif value == "IOM":
        return "Switzerland"
    elif value == "EU Migration Law Blog":
        return "European Union"
    elif value == "IEMed":
        return "Spain"
    elif value == "UNICEF":
        return "International"
    elif value == "Context News-TRF":
        return "UK"
    elif value == "ECRE":
        return "Belgium"
    elif value == "United Nations News":
        return "European Union"
    else:
        return "Unknown Country"

In [11]:
df["Country/Organization"] = df["News Paper Source"].apply(news_source_country)
df.head()

,Publication Date,Website Name,Content,News Paper Source,Country/Organization
0,2024-06-07,www.bbc.com,How many people cross the Channel in small boa...,BBC,UK
1,2024-06-07,www.bbc.com,Far right eyes Europe vote surge and ditches G...,BBC,UK
2,2024-06-07,www.bbc.com,Greek court throws out shipwreck trial against...,BBC,UK
3,2024-06-07,www.bbc.com,Migrants cross Channel for 10th consecutive da...,BBC,UK
4,2024-06-07,www.bbc.com,More than 700 people arrive by small boats in ...,BBC,UK

In [12]:
df.to_csv("/Users/henryasiamah/Desktop/work/new_other_dataset.csv", index = False)

In [13]:
df = pd.read_csv("/Users/henryasiamah/Desktop/work/new_other_dataset.csv")
df.head()

,Publication Date,Website Name,Content,News Paper Source,Country/Organization
0,2024-06-07,www.bbc.com,How many people cross the Channel in small boa...,BBC,UK
1,2024-06-07,www.bbc.com,Far right eyes Europe vote surge and ditches G...,BBC,UK
2,2024-06-07,www.bbc.com,Greek court throws out shipwreck trial against...,BBC,UK
3,2024-06-07,www.bbc.com,Migrants cross Channel for 10th consecutive da...,BBC,UK
4,2024-06-07,www.bbc.com,More than 700 people arrive by small boats in ...,BBC,UK

In [14]:
df["News Paper Source"].value_counts()

The Telegraph                       462
Dutch News                          319
The Local (Germany)                 235
The Local (Italy)                   234
The Local (France)                  230
ANSA                                191
The Local (Spain)                   170
Euronews                            152
InfoMigrants                        146
Deutsche Welle (DW)                  84
BBC                                  74
France 24                            59
NL Times                             56
Le Monde                             14
The New Humanitarian                 11
Immigration Policy Lab               11
Politico Europe                      10
The Guardian                          6
Free Movement                         6
The Irish Times                       3
Chatham House                         3
European Commission Home Affairs      3
German Federal Foreign Office         2
IOM                                   1
EU Migration Law Blog                 1
IEMed                                 1
UNICEF                                1
Context News-TRF                      1
ECRE                                  1
United Nations News                   1
Name: News Paper Source, dtype: int64

In [15]:
df["Country/Organization"].value_counts()

UK                552
Germany           467
France            455
Italy             425
Netherlands       375
Spain             171
Switzerland        23
Belgium            11
European Union      5
Ireland             3
International       1
Name: Country/Organization, dtype: int64

In [17]:
# rename columns

df = df.rename(columns={'Publication Date': 'Date', 'Website Name': 'Headline', 'News Paper Source': 'Source'})

In [18]:
df.head()

,Date,Headline,Content,Source,Country/Organization
0,2024-06-07,www.bbc.com,How many people cross the Channel in small boa...,BBC,UK
1,2024-06-07,www.bbc.com,Far right eyes Europe vote surge and ditches G...,BBC,UK
2,2024-06-07,www.bbc.com,Greek court throws out shipwreck trial against...,BBC,UK
3,2024-06-07,www.bbc.com,Migrants cross Channel for 10th consecutive da...,BBC,UK
4,2024-06-07,www.bbc.com,More than 700 people arrive by small boats in ...,BBC,UK

In [19]:
df.to_csv("/Users/henryasiamah/Desktop/work/new_other_dataset.csv", index = False)

In [20]:
df = pd.read_csv("/Users/henryasiamah/Desktop/work/new_other_dataset.csv")
df.head()

,Date,Headline,Content,Source,Country/Organization
0,2024-06-07,www.bbc.com,How many people cross the Channel in small boa...,BBC,UK
1,2024-06-07,www.bbc.com,Far right eyes Europe vote surge and ditches G...,BBC,UK
2,2024-06-07,www.bbc.com,Greek court throws out shipwreck trial against...,BBC,UK
3,2024-06-07,www.bbc.com,Migrants cross Channel for 10th consecutive da...,BBC,UK
4,2024-06-07,www.bbc.com,More than 700 people arrive by small boats in ...,BBC,UK